@import '../variables';
.btn {
  font-weight: $fontSemiBold;
  transition: 0.5s;
  &:focus,
  &:active {
    box-shadow: none;
  }
  &.btn-xl{
    font-size: $font16;
    padding:1.05rem 2.5rem;

  }
}
.btn-warning{
  background: $colorYellow;
  border-color: $colorYellow;
  &:hover,
  &:focus {
    background: $colorYellow;
  border-color: $colorYellow;
  opacity: 0.8;
  }
}
.btn-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:active:focus,
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $primaryColor;
    border-color: $primaryColor;
    box-shadow: none;
    opacity: 0.8;
    color: #fff;
  }
  &:disabled{
    background-color: $primaryColor;
    border-color: $primaryColor;
    opacity: 0.5;
  }
  &.disabled{
    background-color: $primaryColor;
  border-color: $primaryColor;
  }

}
.btn-white{
  background: #fff;
  color:$primaryColor;
  border-color: #fff;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:active:focus,
  &:focus,
  &:not(:disabled):not(.disabled):active:focus{
    background:transparent;
    border-color: #fff;
    color:#fff;
  }
}
.show>.btn-primary.dropdown-toggle:focus{
  box-shadow: none;
  background-color : $primaryColor;
  border-color: $primaryColor;
}
.btn-outline-primary{
  border-color: $primaryColor;
  color: $primaryColor;
  background-color: transparent;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:active:focus,
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $primaryColor;
    border-color: $primaryColor;
    box-shadow: none;
    color: #fff;
    svg{
      color:#fff;
    }
    
  }
  &.btn-outline-white{
    border-color: #fff;
    color: #fff;
    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:active:focus,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
      background-color: #fff;
      color: $primaryColor;
      svg{
        color:$primaryColor;
      }
    }
  }
}