.search-mainwrapper{
    max-width: 84rem;
    margin: 0 auto;
    padding:3rem 0;
    .label-heading{
      @include flex_parent_between;
      font-size: $font16;
      color: rgba($color: $colorWhite, $alpha:0.6);
      cursor: pointer;
      margin-bottom: 5px;
      font-weight: $fontRegular;
      line-height: 1.3;
    }
    .dynamic-text {
      font-size:$font20;
      font-weight: $fontRegular;
      line-height: 1.2;
  }
    .filterWrapper{
        background: rgba($color: $inputTypeBg, $alpha:0.8);
        padding: 1rem ;
        margin-bottom:2rem;
        .filterSingle{
          width: 25%;
          padding:0 1rem;
          .searchTypeFilter{
            .form-group{
              margin: 0;
              .form-check{
                padding: 1px 0.5rem;
                .form-check-label{
                  padding: 0.25rem 1.5rem;
                  display: block;
                  font-size: $font16;
                  cursor: pointer;
                }
                .form-check-input{
                  opacity: 0;
                  z-index: -1;    
                  &:checked~.form-check-label{
                    background-color: $primaryColor;
                    color: $colorWhite;
                  }
                }
              } 
            }
          }
          .datePickerFilter{
            .dateInput{
              background-color: transparent;
              font-size: $font20;
              color: $colorWhite;
              border:0;
              font-family: 'Open Sans', sans-serif;
              line-height: 1.5;
            }
          }
          .guestFilter{
            .form-group{
              padding:0 2rem;
            margin: 1rem 0 1.5rem;
            }
            .guest-btn-wrap{
              display: flex;
              box-shadow: rgba($color: #000, $alpha:0.2) 0px 1px 4px 0px;
               border-radius: $primaryBorderRadius;
               padding: 0 1rem;
               font-size: $font16;
               justify-content: space-around;
               align-items: center;
               .btn-guest{
                 padding: 5px 1.5rem;
                 cursor: pointer;
                 font-size: $font24;line-height: 1.2;
                 letter-spacing: -3px;
                 &.btn-subtract{
                   position: relative;
                   top:-2px;
                 }
               }
            }
          }
          .moreFilter{
            .form-group{
              padding:0 1.5rem;
              margin: 1rem 0 1.5rem;
            }
            .starRating{
              svg{
                cursor: pointer;
                margin-right: 5px;
              }
            }
            .form-control{
              font-size: $font14;
              height: auto;
            }
          }
        }
       
       
      .dropdown{
        .dropdown-toggle{
          background: transparent;
          border: 0;
          text-align: left;
          padding: 0;
          width: 100%;
          &:hover, &:focus, &:not(:disabled):not(.disabled):active:focus{
            box-shadow: none;background: transparent;
            opacity: 1;
          }
          &::after{
            display: none;
          }
        }
        .dropdown-menu{
          width: 100%;
          border-radius: $primaryBorderRadius;
          .dropdown-item-text{
            font-size: $font16;
          }
        }
        &.show{
          .search-heading{
            svg{
              transform: rotate(180deg);
            }
          }
        }
      }    
    }
    .location-filterWrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 3rem;
  }
  }