.searchpage-Filters {
    margin-top: 9rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .form-check{
        padding:0;
        margin-right:1.5rem;
        
        .form-check-input {
            opacity: 0;
            z-index: -1;
            &:checked  ~ .form-check-label{
                background-color: $colorWhite;
                color: $bodyColor;
            }
        }
        .form-check-label{
            padding: 0.8rem 3rem;
            font-weight: $fontSemiBold;
            display: block;
            border:1px solid $colorWhite;
            cursor: pointer;
            border-radius: $primaryBorderRadius;
        }
    }
}

    .booking-mainRow{
        .booking-single{
          margin-bottom:3rem ;
          border-radius: $primaryBorderRadius;
          overflow: hidden;
          background:#212D54 ;
          .content-box{  
              padding:1rem 2rem;
          }
        }
        .image-slider{
            line-height: 0;
            height: 100%;
            div{
                height: 100%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .slick-prev{
            left: 5px;
        }
        .slick-next{
            right: 5px;
        }
        .slick-prev, .slick-next{
            z-index: 11;
            width: 2.5rem;
            height: 2.5rem;
            &.slick-disabled{
                &:before{
                    opacity: 0.75;
                }
            }
            &:before{
                font-size: 2.5rem;
                opacity: 1;
            }          
        }
        .slick-dots{
            bottom: 2rem;
            li{
                width: auto;
                height: auto;
                margin: 0 2px;
                button{
                    width: 1.2rem;
                    height: 1.2rem;
                   
                    &:before{
                        font-size: 1rem;
                        color:$colorWhite;
                    }
                }
            }
        }
    }

.pagination-wrapper {
    margin-bottom: 5rem;
    .pagination{
        justify-content: center;
        .page-link {  
            padding: 7px 10px;          
            line-height: 1;
            color: #fff;
            background-color: transparent;
            border: 0;
            border-radius: $primaryBorderRadius;
            font-size: 2rem;
            width: 3.5rem;
            height: 3.5rem;
            &:focus{
                box-shadow: none;
            }
        }
        .page-item{
            margin: 0 2px;
            &.active{
                .page-link{
                    background-color: $primaryColor;
                } 
            }
        }
    }
}