@import "variables";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  @media(max-width:767px) {
    font-size: 8px;
  }
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #fff;
background-color: $bodyColor;
}

.container {
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

a {
  color:inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 2rem;
}

img,
video {
  max-width: 100%;
}
.widget-title {
  font-size: $font24;
  font-weight: $fontSemiBold;
  margin-bottom: 2rem;
}


.form-control {
  height: 4.8rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
  background: $inputTypeBg;
  border: 2px solid #fff;
  border-radius: 4px;
  &:focus {
    box-shadow: 0 0 0px 100rem $inputTypeBg inset;
    color: #fff;
    border-color: #fff;
    background: $inputTypeBg;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 100rem $inputTypeBg inset;
  box-shadow: 0 0 0px 100rem $inputTypeBg inset;
  -webkit-text-fill-color: $colorWhite !important;
}
.form-control::-webkit-input-placeholder { /* Edge */
  color: $colorWhite;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $colorWhite;
}

.form-control::placeholder {
  color: $colorWhite;
}

.form-group {
  margin-bottom: 2rem;
}

.font-light{font-weight:$fontLight}
.font-semibold{font-weight:$fontSemiBold}
.font-bold{font-weight:$fontBold}
.font-extrabold{font-weight:$fontExtraBold}

.font-12{
  font-size:$font12;
}
.font-16{
  font-size:$font16;
}
.font-20{
  font-size:$font20;
}
.font-24{
  font-size: $font24;
}
.text-primary{
  color: $primaryColor !important;
}
.text-yellow{
  color: $colorYellow;
}
.commonbody-topPadding{
  padding-top: 11rem;
}
.commonbody-bg{
  background: url('../assets/images/kikeroo-bodybg.jpg') no-repeat center ;
  background-size: cover;
  min-height: 100vh;

}
.daterangepicker  {
  .calendar-table{
    th, td{
      color: #000;
      
    }
    
    td{
      &.available{
        &:hover{
          color: #000;
        }
      }
      
      &.active{
        background-color: $primaryColor;
        &:hover{
          background-color: $primaryColor;
        }
      }
      
    }
  }
}

.site-content{
  min-height: 100vh;
}