// Variable overrides

// z-index
$zTop : 9999;
$zAbove : 1;
$zDefault : 0;
$zBelow : -1;
$zBottom : -9999;
$primaryBorderRadius: 4px;
// font-weight
$fontLight:300;
$fontRegular:400;
$fontSemiBold:600;
$fontBold:700;
$fontExtraBold:800;
//font-size
$font12: 1.2rem;
$font14: 1.4rem;
$font16: 1.6rem;
$font20: 2.0rem;
$font24: 2.4rem;
$font30: 3rem;
$font44: 4.4rem;

//color
$colorWhite: #fff;
$primaryColor: #0F5473;
$secondaryColor: #1B2548;
$bodyColor: #1B2139;
$secondaryColor_v2: #161E38;
$inputTypeBg: #12182C;
$colorYellow:#EEBC49;

